APP_NAME='Single Restaurant'
APP_ENV=local
APP_KEY=base64:2VU8pLtRXkeyciDFnFipQ5zsuceyUppjXFo++eUrLfU=
APP_DEBUG=true
APP_URL=https://orchid-anteater-479584.hostingersite.com/
ASSET_URL=https://orchid-anteater-479584.hostingersite.com/
APP_DIR=


Environment=sandbox
QUEUE_CONNECTION=sync

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u128481587_chessyByte
DB_USERNAME=u128481587_chessyByte
DB_PASSWORD=chessyByte@1234

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync

SESSION_DRIVER=file
SESSION_LIFETIME=10080
MEMCACHED_HOST=127.0.0.1
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

ASSETSPATHURL=
PRINTNODE_API_KEY=ycOEMOnkNt_uyjTbaM0gqq5I9rIfCXA5bU8AnGHK5V4
