/*============** About **============*/
.about_left_bottom {
    display: flex;
    align-items: center;
}
.play_video {
	margin-left: 30px;
	.play_btn {
		height: 60px;
		display: inline-block;
		width: 60px;
		background: $primaryColor;
		line-height: 60px;
		border-radius: 50%;
		color: $secondaryColor;
		margin-right: 10px;
		text-align: center;
		position: relative;
		z-index: 2;
		line-height: 69px;
		@media #{$xsm-device} {
			margin-top: 20px;
		  }
		  i {
			color: $white;
			font-size: 30px;
			line-height: 0;
		  }
	  }
  }
  .about_left {
    padding-right: 100px;
	position: relative;
	@media #{$lg-device} {
		padding-right: 0px;
	}
	.big-image {
		@media #{$lg-device} {
			width: 100%;
		}
		@media #{$md-device} {
			width: 100%;
		}
	}
	
	.small {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		border: 5px solid $white;
		width: 270px;
		@media #{$xl-device} {
			width: 190px;
		}
		@media #{$lg-device} {
			display: none;
		}
	}
}
