/*============** Breadcrumb **============*/

.breadcrumb_area {
	height: 450px;
    display: flex;
    @media #{$xsm-device} {
      height: 350px;
    }
    background-color: $primaryColor;
}
.breadcrumb_bg{
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    &:after {
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        z-index: 2;
        background-color:rgba(9, 58, 102, 0.1);
      }
}

.breadcrumb_wrap {
	position: relative;
	z-index: 3;
  padding-top: 100px;
  @media #{$xsm-device} {
    padding-top: 120px;
  }
    h2 {
        font-size: 55px;
        color: $white;
        @media #{$xsm-device} {
          font-size: 36px;
          margin-bottom: 0;
        }
      }
      .breadcrumb_page {
        li {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            margin-right: 10px;
            padding-right: 10px;
            color: $white;
          }
          .breadcrumb_arrow{
            position: relative;
            margin-left: 24px;
            &::before {
              position: absolute;
              content: "\f054";
              font-family: "Font Awesome 6 Free";
              top: 0px;
              right: -9px;
              font-weight: 900;
              font-size: 15px;
            }
            &::after {
              position: absolute;
              content: "\f015";
              font-family: "Font Awesome 6 Free";
              top: 0px;
              left: -22px;
              font-weight: 900;
              font-size: 14px;
            }
            a {
                transition: all .3s ease-in-out;
            }
            &:hover a {
                color: $primaryColor;
            }
        }
    }
}
