/*============** Video **============*/

.video_bg {
    background-image: linear-gradient(rgba(2, 169, 92, 0.6), rgba(2, 169, 92, 0.9)), url(../img/video/video_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.vide_left {
    h2 {
        font-size: 55px;
        color: #fff;
        font-weight: 800;
    }
}

.vide_right {
    text-align: center;
    .play-video {
        height: 90px;
        width: 90px;
        background: $white;
        display: inline-block;
        line-height: 100px;
        border-radius: 10px;
        position: relative;
        z-index: 3;
        .play-btn {
            i {
                color: $primaryColor;
                font-size: 30px;
            }
        }
    }
}
