/*============** Header **============*/
.header-main-menu {
  .mean-container {
    .mean-bar {
      top: 0px;
      right: 0;
      width: 99%;
      @media #{$lg-device} {
        // right: 121px;
      }
      @media #{$sm-device} {
        right: 15px;
        width: 91%
      }
    }
  }
}
.border-right {
  position: relative;
  display: flex;
}
.border-right:after {
  position: absolute;
  left: -2px;
  height: 51%;
  width: 2px;
  background: $white;
  content: "";
  color: $white;
  top: 6px;
}
.header_top_right .nice_select_wrapper .nice-select::after {
  left: 80%;
}
.header_top {
  padding: 20px 0;
  // border-bottom: 2px solid rgb(221 221 221 / 8%);
    .header_top_left {
      @media #{$sm-device} {
        display: none;
      }
        ul {
          display: flex;
          align-items: center;
            @media #{$md-device} {
              justify-content: center;
            }
            li {
              display: flex;
              padding-right: 20px;
              align-items: center;
              color: $white;
              position: relative;
                @media #{$xsm-device} {
                  padding-right: 5px
                }
              p {
                color: $white;
              }
                i {
                  color: $white;
                  margin-right: 7px;
                }
              }
              a {
                font-size: 16px;
                transition: all .4s linear;
                @media #{$sm-device} {
                  font-size: 14px;
                  }
                @media #{$xsm-device} {
                  font-size: 14px;
                  }
                &:hover {
                  color: $black;
                }
                i {
                    color: $white;
                    margin-right: 7px;
                  }
              }
        }
    }
  }
  .header_top_right {
    display: flex;
    justify-content: end;
    @media #{$md-device} {
      justify-content: center;
      }
    ul {
        @media #{$md-device} {
          }
        li  {
            display: inline-block;
            padding-left: 10px;
            color: $white;
            @media #{$md-device} {
              padding-left: 5%;
              }
            a {
              font-size: 16px;
                i {
                    color: $white;
                  }
              }
          }
    }
    .login_top {
      color: #fff;
      margin-right: 12px;
     a {
      border-bottom: 2px solid transparent;
      &:hover {
        color: $white;
        border-bottom: 2px solid $white;
      }
     }

    }
}

   @media #{$md-device} {
      .menu_right_wrapper.mobile .btn.style-1 {
        background: inherit;
        border: 0;
      }
    }
    .header-main-menu.sticky {
      background: $primaryColor;
    }
    .header-main-menu.sticky .theme_btn.header_btn.theme_btn_hover {
      border: 2px solid $white;
      padding: 13px 28px;
  }

  .header-main-menu {
    // box-shadow: 0 0 3px rgb(255 255 255 / 10);
    // box-shadow: 0 0 2px rgb(255 255 255 / 48%);
    padding: 8px 0;
    @media #{$lg-device} {
      padding: 12px 0;
      }
    @media #{$md-device} {
      padding: 15px 0px;
      }
    @media #{$xsm-device} {
      padding: 15px 0px;
      }
    .logo {
       img {
        position: relative;
        z-index: 100;
      }
        a {
            font-size: 30px;
            font-weight: 700;
            color: $white;
        }
    }
    .main_menu {
      text-align: right;
        ul {
          display: flex;
          align-items: center;
          justify-content: end;
            li {
              display: inline-block;
              margin-left: 30px;
              &:last-child {
                line-height: 0;
                &:hover {
                  color: $primaryColor;
                }
              }
              .btn {
                &:hover {
                  color: $white;
                }
              }
                @media #{$lg-device} {
                    padding-left: 8px;
                  }
                &:hover > a {
                  border-bottom: 2px solid $white;
                }
                a {
                    text-transform: capitalize;
                    font-size: 18px;
                    transition: all .3s ease-in-out;
                    font-weight: 500;
                    display: inline-block;
                    border-bottom: 2px solid transparent;
                    color: $white;
                    &:hover {
                      border-bottom: 2px solid $white;
                    }
                    &.theme_btn {
                      border: 0;
                      &:hover {
                        color: $primaryColor;
                      }
                    }
                    i {
                      transition: all .3s ease-in-out;
                    }
                    a.menu_search_wrap__search_icon:hover i {
                      color: $primaryColor;
                    }
                }
                a.active {
                  border-bottom: 2px solid $white;
                }
                .btn i {
                  margin-top: 10px;
                  position: relative;
                }
            }
        }
    }
    .header-main-menu .main_menu ul li .theme_btn:hover {
      border-bottom: 0;
    }

    a.menuu_search_wrap__search_icon.search-toggler {
      transition: all 0.3s ease-in-out;
    }

    a.menuu_search_wrap__search_icon.search-toggler:hover i {
      color: $primaryColor;
    }
  }


  .header-main-menu .main_menu ul li.menu-item-has-children {
    position: relative;
  }
  .header-main-menu .main_menu ul li ul.sub-menu {
    position: absolute;
    z-index: 3;
    min-width: 220px;
    display: inline-block;
    background: $white;
    box-shadow: 0 0 10px rgb(0 0 0 /10%);
    top: 50%;
    left: 26px;
    opacity: 0;
    visibility: hidden;
    transform: scale(50%);
    transition: all .3s ease-in-out;
  }
  .header-main-menu .main_menu ul li ul.sub-menu li {
    display: block;
    text-align: left;
  }
  .header-main-menu .main_menu ul li ul.sub-menu li {
    border-bottom: 1px solid #ddd;
    padding: 0;
  }
  .header-main-menu .main_menu ul li ul.sub-menu li:last-child {
    border-bottom: 0px;
  }
  .header-main-menu .main_menu ul li ul.sub-menu li a {
    padding: 10px 0px 10px 10px;
    display: inline-block;
    transition: all .3s ease-in-out;
  }
  .header-main-menu .main_menu ul li ul.sub-menu li:hover a {
    padding: 10px 16px;
  }

  .header-main-menu .main_menu ul li:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(100%);
    transform: scale(100%);
    top: 100%;
  }

  .header-main-menu .main_menu ul li.menu-item-has-children.menu_last_item ul.sub-menu {
    left: -182%;
  }
  .header-main-menu .main_menu ul li.menu-item-has-children.menu_last_item ul.sub-menu li {
    padding: 0 20px;
  }
  .header-main-menu .main_menu ul li.menu-item-has-children.menu_last_item ul.sub-menu li a i {
    margin-left: -20px;
    display: inline-block;
    padding-right: 16px;
  }
  /*============== Nice select Style ============*/
  .nice_select_wrapper .nice-select {
    background: transparent;
}

.nice_select_wrapper .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: $black;
}
.nice_select_wrapper .nice-select .list {
 background-color: $primaryColor;
}

/*--------------------------------------------------------------
# Search Popup
--------------------------------------------------------------*/
.search_popup_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, opacity 500ms ease;
  transition: transform 500ms ease, opacity 500ms ease, -webkit-transform 500ms ease;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3e5e5e;
    opacity: 0.75;
    cursor: pointer;
  }
  &__content {
    width: 100%;
    max-width: 560px;
    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      background-color: $white;
      border-radius: 0;
      overflow: hidden;
    }
    .thm-btn {
      padding: 0;
      width: 68px;
      height: 68px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 0;
      right: -1px;
      border-radius: 0;
      background-color: $primaryColor;
      border: 0;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      border-left: 1px solid transparent;
      &:hover {
        background-color: $btnHover;
        border-left: 1px solid $primaryColor;
        i {
          color: $primaryColor;
        }
      }
      i {
        height: auto;
        width: auto;
        background-color: transparent;
        border-radius: 50%;
        color: $white;
        font-size: 22px;
        line-height: inherit;
        text-align: center;
        top: 0;
        margin-right: 0;
        padding-left: 0;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
    }
  }
}

.search_popup_wrap.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.search_popup_wrap__content form input[type="search"],
.search_popup_wrap__content form input[type="text"] {
  width: 100%;
  background-color: $white;
  font-size: 16px;
  border: none;
  outline: none;
  height: 66px;
  padding-left: 30px;
}
