
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shadows+Into+Light&family=Teko:wght@300;400;500;600;700&display=swap');

// FONT FAMILY
$headingFont:  'Teko', sans-serif;
$headingTitle:   'Shadows Into Light', cursive;
$bodyFont: 'Roboto', sans-serif;


// font-family: 'Roboto', sans-serif;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Teko', sans-serif;