
// Background Color and Color Info

$primaryColor: #108ce6;
$secondaryColor: #001d23;
$btnHover:  #fff ;
$headingColor: #001d23;
$bodyColor: #727272;

// Common Color
$borderColor: #ebebeb;
$white: #3c3c3c;;
$black: #000;
$deepBlack : #040021;
$lightWhite: #858585;

$transaction_serach_bg: #f6e9d7;



/* Responsive Variables */

$xxl-device: '(max-width:1500px)';

$xl-device:  '(max-width:1200px)';
$lg-device:  '(max-width:991px)';
$md-device:  '(max-width:768px)';
$sm-device:  '(max-width:576px)';
$xsm-device: '(max-width:375px)';

// @media #{$xsm-device} {
//     margin-bottom: 30px;
//   }
// $xl-device: 'only screen and (min-width: 1200px) and (max-width: 1450px)';
// $lg-device: 'only screen and (min-width: 992px) and (max-width: 1200px)';
// $md-device:'only screen and (min-width: 768px) and (max-width: 991px)';
// $xsm-device:'(max-width: 767px)';
// $sm-device: 'only screen and (min-width: 576px) and (max-width: 767px)';
