
/*============** Footer **============*/
.footer-bg{
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
        padding: 100px 0 0;
        position: relative;
        z-index: 2;
    @media #{$md-device} {
         padding: 60px 0 0;
      }
      @media #{$xsm-device} {
         padding: 60px 0 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(9, 58, 102, .9);
        z-index: -1;
        // opacity: .9; 
      }
}
.footer-widget {   
     img {
        margin-bottom: 22px;
        margin-top: -10px;
        width: 220px;
      }
    &__title {
        color: $white;
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: 500;
        @media #{$xsm-device} {
            margin-bottom: 15px;
          }
    }
    p {
        color: $white;
        margin-bottom: 10px;
        padding-right: 20px;
    }
    &__location{
        ul {
            li {
                display: block;
                margin-right: 10px;
                color: $white;
                margin-bottom: 10px;
                h5 {
                    color: $white;
                    margin-bottom: 0;
                     font-size: 18px;
                }
                i{
                    margin-right: 10px;
                    color: $white;
                }
                span {
                    color: $white;
                    a {
                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }
            margin-bottom: 20px;
        }
    }
    
    &__userful-link {
        ul {
            li {
                padding-bottom: 7px;
                &:hover a {
                    padding-left: 5px;
                    color: $primaryColor;
                }
                a {
                    display: inline-block;
                    color: $white;
                    position: relative;
                  }
            }

        }
    }
    &__recent {
        ul {
            li {
                margin-bottom: 20px;
                .list-item {
                    display: flex;
                    img {
                        height: 86px;
                        width: 70px;
                      }
                  }
                  .list-item-info {
                    padding-left: 15px;
                    a{
                        transition: all .3s ease-in-out;
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}
.social_icons {
    display: flex;
    li{
        margin-right: 10px;
        a {
            height: 40px;
            width: 40px;
            background: $primaryColor;
            display: inline-block;
            text-align: center;
            line-height: 40px;
            border-radius: 30px;
            transition: all .3s ease-in-out;
            &:hover i {
                color: $black;
            }
            i {
                margin: 0;
                color: $white;
                transition: all .3s ease-in-out;
            }
        }
    }
}

.footer-bottom {
    padding: 25px 0 10px;;
    background-color: $primaryColor;
    &__copyright-text {
        text-align: center;
        p {
            color: $white;
            font-size: 16px;
            span {
                color: $secondaryColor;
                transition: al .3s ease-in-out;
                &:hover a{
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }
}
.footer-bottom__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 