/*============** Blog **============*/
.blog_bg {
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(9, 58, 102, .9);
      z-index: -1;
    }
}
// rgba(9, 20, 102, 1)
// rgba(0, 0, 67, 1)
.blog {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
    overflow: hidden;
    background-color: $white;
    border: 3px solid $white;
    &:hover img {
        transform: scale(1.1);
    }
}

.blog_thumb {
    position: relative;
    img {
        width: 100%;
        transition: all .4s ease-in-out;
        transform: scale(1);
    }
}

.blog {
    .date {
        position: absolute;
        left: 10px;
        top: 10px;
        background: $primaryColor;
        color: $white;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 60px;
        width: 60px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        &:after {
            position: absolute;
            top: 0;
            right: -10px;
            border-left: 10px solid $primaryColor;
            border-bottom: 10px solid transparent;
            content: "";
        }
        &::before {
            position: absolute;
            bottom: 0;
            left: -10px;
            border-right: 10px solid $primaryColor;
            border-bottom: 10px solid transparent;
            content: "";
        }
    }
    
}


.blog_content {
    padding: 25px 40px 35px;
    @media #{$md-device} {
        padding: 15px 20px 25px;
      }
}

.post_info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 10px;
    margin-bottom: 15px;
    align-items: center;
    li {
        text-transform: capitalize;
        i {
            color: $primaryColor;
            font-size: 19px;
            transition: all .4s linear;
        }
    }
}


.read-more {
    color: $primaryColor;
    transition: all .4s ease-in-out;
    font-size: 18px;
    font-weight: 500;
    i {
        transition: all .4s ease-in-out;

    }
    &:hover i {
        margin-left: 10px;
    }
}




/*==== Blog arrow ====*/
.blog_active .slick-arrow {
	position: absolute;
	top: 50%;
	background: $primaryColor;
	color: $white;
	font-size: 18px;
    transform: translateY(-50%);
	font-weight: 700;
	left: -65px;
	z-index: 2;
	border: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.blog_active .slick-arrow:hover {
	background: $btnHover;
	color: $white;
}
.blog_active .slick-next {
	left: auto;
	right: -40px;
}

.blog_active .slick-prev {
    left: -40px;
  }

  /*========== Blog Pagenation ========*/

.pagination_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
        margin: 0 7px;
        a {
            height: 45px;
            width: 45px;
            display: block;
            text-align: center;
            line-height: 45px;
            font-weight: 500;
            border-radius: 50%;
            border: 1px solid #ddd;
            &.active {
                background-color: $primaryColor;
                color: $white;
            }
            &:hover {
                background-color: $primaryColor;
                color: $white;
            }
        }
    }
}
.blog.blog-details:hover img {
    transform: scale(.99);
}


///*========= Single Blog Sidebar ==============*/
.widget_box {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	padding: 20px;
  .property_status li {
    margin-bottom: 15px;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 5px;
  }
  .popular_posts {
    display: flex;
    a{
      img {
        width: 100px;
      }
    }
    .detail{
      h4 {
        font-size: 20px;
      }
    }
  }
}

.search {
    position: relative;
    input {
        height: 50px;
        background-color: $white;
        border: 1px solid $primaryColor;
        padding: 15px 20px 15px 15px;
        width: 89%;
        transition: all 0.3s ease-in-out;
    }
    button {
        position: absolute;
        border: 0;
        background: $primaryColor;
        height: 100%;
        width: 55px;
        line-height: 38px;
        color: $white;
        right: 0;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
  }

  .tags li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 5px;
  }
  .tags li a {
    padding: 10px;
    background: $primaryColor;
    color: $white;
    transition: all .3s ease-in-out;
    display: inline-block;
    border-radius: 5px;
    &:hover {
        color: $black;
    }
  }
  .popular_posts .detail {
    margin-left: 15px;
}

  /*============** Blog single **============*/
  .blog_img img {
	width: 100%;
}

.post-comments {
    &__title {
        & h3 {
            font-size: 28px;
        }
    }
    &__latest-comments {
        & ul {
            & li {
                & .comments-box {
                    overflow: hidden;
                    & .comments-avatar {
                        float: left;
                        font-size: 16px;
                        font-weight: 700;
                        margin-right: 25px;
                        img {
                            border-radius: 50%;
                            height: 65px;
                            width: 65px;
                        }
                    }
                    & .comments-text {
                        overflow: hidden;
                        border-bottom: 1px solid $primaryColor;;
                        padding-bottom: 20px;
                        margin-bottom: 35px;
                        & .avatar-name {
                            overflow: hidden;
                            & h5 {
                                float: left;
                                margin-right: 20px;
                            }
                            & .comment-reply {
                                color: #000;
                                transition: all .3s ease-in-out;
                                &:hover {
                                    color: $primaryColor;;
                                }
                            }
                        }
                        & .comment-date {
                            margin-bottom: 5px;
                            & span {
                                font-size: 14px;
                                color: $primaryColor;;
                                font-weight: 600;
                            }
                        }
                        & p {
                            font-size: 15px;
                            line-height: 27px;
                        }
                
                    }
                }
            }
            .children {
                margin-left: 100px;
                @media #{$xsm-device} {
                    margin-left: 10px;
                }
            }
        }
    }

}

.post-comment-form {
    background: $white;;
    padding: 50px 30px 50px;
    box-shadow: 0px 0px 4px 0px rgba(11, 0, 59, 0.15);
    & h3 {
        font-size: 28px;
        margin-bottom: 10px;
      }
      & span.header_requir {
        font-size: 16px;
        margin-bottom: 30px;
        display: inline-block;
      }
      & .blog-post-comment {
        position: relative;
        & i {
            position: absolute;
            line-height: 50px;
            left: 20px;
            color: $primaryColor;;
          }
          & input {
            height: 50px;
            width: 100%;
            padding: 15px 15px 15px 50px;
            border: 0;
            background: $white;
            border: 1px solid $borderColor;
            transition: all .3s;
            &::placeholder {
                font-size: 15px;
                color: #133344;
              }
              &:focus {
                border: 1px solid $primaryColor;
              }
          }
          & .sidebar-contact.text-area {
            height: 140px;
            width: 100%;
            resize: none;
            border: 0;
            background: $white;
            border: 1px solid $borderColor;
            padding: 12px 15px 15px 50px;
            transition: all .3s;
            &:focus {
                border: 1px solid $primaryColor;
              }
        }
    }
    & .post-check {
        margin-bottom: 10px;
        & span {
            font-size: 14px;
            color: gray;
          }
      }
}