/*============** What we offer **============*/
.location_wrap {
    overflow: hidden;
    &:hover img {
        transform: scale(1.2);
        transition: all .5s ease-in-out;

    }
}

.thumb {
    position: relative;
    img {
        transform: scale(1);
    }
    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 65%;
        width: 100%;
        content: "";
        background: -webkit-gradient(linear, left top, left bottom, from(rgba($primaryColor, 0)), to($primaryColor));
        background: linear-gradient(to bottom, rgba($primaryColor, 0) 0%, $primaryColor 100%);
        pointer-events: none;
        z-index: 4;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    &:hover::before {
        height: 35%;
    }
}

.content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    span {
        color: $white;
        display: inline-block;
        margin-bottom: 5px;
    }
    h3 {
        font-size: 30px;
        color: $white;
    }
}



