
/*============** Term Of Service **============*/
.single-terms {
  h3 {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid $primaryColor;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }
  p{
    margin-bottom: 15px;
  }
}
