/*============** Destinations **============*/
.yachts_wrap {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    &:hover img {
        transform: scale(1.1);
    }
}
.yachts_content {
    padding: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    &::before {
        position: absolute;
        content: "";
        top: -28px;
        left: 0;
        background-color: rgba(13, 110, 253, 0.03);
        height: 204%;
        width: 74%;
        z-index: -1;
        transform: rotate(130deg);
    }
}
.yachts_wrap {
    img {
        width: 100%;
        transition: all .8s;
    }
}

.meta_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 26px;
     i {
        color: $primaryColor;
        margin-right: 8px;
     }
     .price {
        display: block;
        background: $primaryColor;
        padding: 4px 15px;
        color: $white;
        border-radius: 3px;
        font-size: 20px;
    }
}

.title {
    display: flex;
    font-size: 29px;
    align-items: center;
    margin-bottom: 15px;
    @media #{$xsm-device} {
        font-size: 25px;
      }
    h4 {
        margin: 0;
        transition: all .4s linear;
        &:hover {
            color: $primaryColor;
        }
    }
    i {
        margin-right: 8px;
        color: $primaryColor;
    }
}

/*===== =====*/

.yachts_wrap.yacht_details {
    margin-right: 30px;
    @media #{$lg-device} {
        margin-right: 0px;
      }
}

.yachts_info_wrap {
    max-width: 424px;
}

.single_yachts {
    display: inline-block;
    padding: 10px 0;
    border-bottom:  1px solid $borderColor;
    i {
        color: $primaryColor;
        font-size: 20px;
    }
    span.heilight {
        color: $black;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 500;
    }
    span.margin-right {
        display: inline-block;
        margin-right: 30px;
        @media #{$sm-device} {
            display: block;
            margin-bottom: 10px;
          }
    }
}
